html,
body {
  padding: 0;
  margin: 0;
  /* overscroll-behavior-y: none; */
  /* Opțional: previne și swipe-ul stânga/dreapta pentru „back/forward” în browser */
  /* overscroll-behavior-x: none; */
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

#__next-build-watcher,
.nextjs-dev-overlay {
  display: none !important;
}
