html,
body {
  padding: 0;
  margin: 0;
  scrollbar-gutter: stable;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

#__next-build-watcher,
.nextjs-dev-overlay {
  display: none !important;
}
